<div class="container-fluid">
  <form [formGroup]="registrationForm">
    <div class="form-group">
      <label>Username</label>
      <input [class.is-invalid]="username.touched && username.invalid"  (input)="handleInput($event.target.value)" type="text" formControlName="username"  class="form-control"/>
      <!-- {{username.errors|json}} -->
      
      <small class="text-danger" *ngIf="username.touched && username.invalid && username.errors?.required">Username is required</small>
      <small class="text-danger" *ngIf="username.touched && username.invalid && username.errors?.forbiddenname">Username {{username.errors?.forbiddenname}} is not allowed</small>
      <small class="text-danger" *ngIf="response?.error">{{response.message}}</small>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" formControlName="email" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
</form>
</div>
