<!-- <my-first></my-first> -->
<!-- <app-binding [parentname]="name"></app-binding> -->

<!-- <app-second [parentName]="name" (childContent)="incomingData($event)"></app-second>


<p>
    This is App View(html) <b>{{childMessage}}</b>
</p> -->

<!-- <app-forms></app-forms> -->
<!-- <app-userform></app-userform> -->
<!-- <app-customerform></app-customerform> -->
<!-- <app-datapost></app-datapost> -->

<!-- <app-child1></app-child1> -->
<!-- <app-child2></app-child2> -->
<!-- <app-search></app-search> -->

<input type="text" #val />
<button (click)="handleChange(val)">Change</button>
<button (click)="handleChild()" >Hide child</button>
<app-hook [name]="value" *ngIf="display">{{value}}</app-hook>
